/**
 * Stylesheet for TYPO3 RTE (obly for backend)
 *
 */

p { font-size: 12px; font-family: Arial, Helvetica, verdana, sans-serif; }
p.align-justify { text-align: justify; }
p.align-right { text-align: right; }
p.align-center { text-align: center; }
div.indent { padding-left: 2em; }